<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.netfics" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NetFics</name>
    <description>Reading list and tracker app</description>
    <author email="saballo.chantaldominique@gmail.com" href="https://cordova.apache.org">
        Domssab-chan
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
